/* pc **********************************/
@media only screen and (min-width: 1280px) {
  html,
  body {
    background: rgb(255, 255, 255);
    width: 100%;
    border: 1px solid #000;
  }

  /* body{ display: grid; grid-template-columns: repeat(12, 1fr); column-gap: 20px; } */
  /* header----------------------------- */
  h1 {
    width: 15%;
  }
  h1 img {
    width: 60%;
  }

  /* nav{width: 70%; border: 1px solid #000; } */
  nav ul.main-menu {gap: 40px;}
  .right-menu ul {gap: 40px;}
  .right-menu ul li{height: 100%;}


  /* slide */
  .sect1 {
    background: url(../imgs/s.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
  }

  .summery {
    color: var(--main-color);
    background: var(--main-color);
    width: 100%;
    height: 300px;
    color: var(--sub-color);
    padding: 0px 80px;
    /* margin-top: -50px; */
    border: 1px solid #000;
  }
  h2 {
    font-size: 40px;
    margin-bottom: 20px;
    width: 65%;
  }
  .sub-summery {
    color: var(--text-color-3);
  }
  .artist {
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }

   /* sect2-------------------------------------------------- */
  .sect2 { height: 106vh;}
  .sect2 .grid { gap: 40px 20px;}

  .sect2 h3.title{font-size: 20px;}
  .sect2 h3{margin-bottom: 26px;}

  .item{position: relative; display: inline-block;}
  .item img{height: 180px; width: 100%;}

  .item .art-summery .more{height: 120px; }
  /* .item .art-summery h3{font-size: 20px;} */
  .condensation{display: flex; justify-content: space-between; font-weight: 500;flex-direction: row;}
  .condensation, p.art-subsummer{font-size: 16px;}
  .locat{width: 70%;}
  p.location{width: 76%; text-wrap: nowrap; overflow: hidden; text-overflow: ellipsis;}
  p.location2{width: 50%; background: #dfdfdf;}


  /* sect3-------------------------------------------------- */

  
  /* sect4-------------------------------------------------- */
  .sect4 ul{gap: 20px; border: 1px solid #000;}
  .sect4 ul li{padding: 30px; width: 24%; border: 1px solid #000; overflow: hidden;}
  .sect4 ul li a{color: var(--t-color);font-size: 32px;}

  .sect4 ul li p{width: 100%;}


  .sect4 .box{display: grid; height: 200px; grid-template-columns: repeat(5,1fr); column-gap: 20px;}

  .sect4 .box .item{
    /* border: 1px solid #000; */
    padding: 50px 40px; height: 100%; background: var(--main-color); border-radius: 5px;}
    .sect4 .box .item .item-summary .sub{margin-bottom: 10px;}
  /* .sect4 .box .item1{grid-column: 1/span 1;} */
  .sect4 .box .item .item-summary h3{font-size: 28px;}
  .sect4 .box .item .item-summary p{font-size: 16px; letter-spacing: 0px; line-height: 24px;}
  .sect4 .box .item i{font-size: 28px; text-align: right; margin-top: 6px;}
  



  .sect4 .aaaa{background: #eef0f1; width: 100%; height: 310px; align-self: flex-end; text-align:center; padding: 50px 40px;}
  /* .sect4 .aaaa h3{font-size: 32px; margin-bottom: 24px;} */
  .sect4 .aaaa p{line-height: 30px; margin-bottom: 40px;}
  .sect4 .aaaa p.Check a{background:var(--sub-color); color: #dfdfdf; display: inline-block; padding: 5px 20px; font-weight: 500;}
  /* .sect4 .aaaa p.Check:hover a{color:var(--main-color);} */
  

  /* footer------------------------------------------------- */
  footer{background: var(--main-color); 
     /* height: 320px;  */
    padding: 0 80px 80px; font-size: 16px;}
  /* .f-inner{border: 1px solid #000;} */
  footer .f-top ul li{line-height: 30px; font-weight: 100; color: var(--text-color-2);}
  footer .f-top ul li a{font-weight: 900;}

  /* 애가 더 상위 아닌가? 왜 올라가면 적용이 안되는 거임? 
  아 html 순서때문인가?*/
  footer .f-top >ul li{line-height: 40px; font-weight: 900;font-size: 20px; }

  footer .f-top .family{width: 15%;}
  footer .f-top .family p{font-size: 20px;}
  footer select{width: 100%; height: 40px; padding: 10px;}

  /* button */
  footer .f-button{border-top: 1px solid #000; padding-top: 20px;}
  footer .f-button p{font-size: 20px;}

  footer .sns{width: 25%;}
  footer .sns ul {width: 100%; gap: 20px;}
  footer .sns ul li{flex: 1;}
  footer .sns ul li a img{width: 100%;}




}
