/* pc **********************************/
@media only screen and (min-width: 1600px) {
  html,
  body {
    background: rgb(255, 255, 255);
    width: 100%;
    border: 1px solid #000;
  }

  /* body{ display: grid; grid-template-columns: repeat(12, 1fr); column-gap: 20px; } */
  /* header----------------------------- */
  h1 {
    width: 15%;
  }
  h1 img {
    width: 60%;
  }

  /* nav{width: 70%; border: 1px solid #000; } */
  nav ul.main-menu {gap: 40px;}
  .right-menu ul {gap: 40px;}
  .right-menu ul li{height: 100%;}


  /* slide */
  .sect1 {
    background: url(../imgs/s.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
  }

  .summery {
    color: var(--main-color);
    background: var(--main-color);
    width: 100%;
    height: 300px;
    color: var(--sub-color);
    padding: 0px 80px;
    /* margin-top: -50px; */
    border: 1px solid #000;
  }
  h2 {
    font-size: 50px;
    margin-bottom: 20px;
    width: 65%;
  }
  .sub-summery {
    color: var(--t-color);
  }
  .artist {
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }


 /* sect2-------------------------------------------------- */ 
  .sect2 { height: 126vh;}
  .sect2 .grid { gap: 50px 30px;}

  .sect2 h3.f-20{font-size: 32px; margin-bottom: 26px;}
  .item{position: relative; display: inline-block; }
  .item img{height: 250px; width: 100%;}

  .item .art-summery h3{font-size: 24px;}
  .condensation, p.art-subsummer{font-size: 16px;}
  p.art-subsummer{line-height: 24px;}
  p.location{width: 80%; text-wrap: nowrap; overflow: hidden; text-overflow: ellipsis;}
  .location2{width: 50%;}

  button{width: 240px; height: 50px;margin-top: 400px;}


  
  /* sect3-------------------------------------------------- */
  .sect3 h3.f-20{font-size: 32px; margin-bottom: 26px;}


  /* sect4-------------------------------------------------- */
  .sect4 ul{gap: 20px; border: 1px solid #000;}
  .sect4 ul li{padding: 30px; width: 24%; border: 1px solid #000; overflow: hidden;}
  .sect4 ul li a{color: var(--t-color);font-size: 32px;}

  .sect4 ul li p{width: 100%;}


  .sect4 .box{display: grid; height: 230px; grid-template-columns: repeat(5,1fr); column-gap: 20px;}

  .sect4 .box .item{
    /* border: 1px solid #000; */
    padding: 50px 40px; height: 226px; background: var(--main-color); border-radius: 5px;}
  /* .sect4 .box .item1{grid-column: 1/span 1;} */
  .sect4 .box .item .item-summary h3{font-size: 32px;}
  .sect4 .box .item .item-summary p{word-break: keep-all; line-height: 24px; letter-spacing: none; text-align: left;}
  .sect4 .box .item i{font-size: 32px; text-align: right; margin-top: 6px;}



  

  /* footer------------------------------------------------- */ 
  footer .sns{width: 22%;}
  footer .f-button{align-items: center;}





}
