/* 모바일 *********************************/
@media only screen and (max-width: 600px) {
  .wrap {padding: 30px;}
  body {background-color: rgb(255, 255, 255);}
  .box { width: 100%;}
  h3.f-20{margin-bottom: 20px; }

  header {
    background: var(--main-color);
    padding: 10px 80px;
    height: 60px;
    border: 1px solid #000;
  }
  header .wrap{height: 100%;}

  h1{width: 15%;}
  h1 img{width: 90%; display: none;}

  nav{display: none; }
  nav ul.main-menu {
    gap: 20px;
    text-align: center;
  }
  .right-menu {
    width: 15%;display: none;}
  .right-menu ul {
    gap: 30px;
    height: 100%;
    justify-content: flex-end;
  }
  .right-menu ul li{height: 100%;}


  /* slide */
  .sect1 {
    background: url(../imgs/s.jpg) no-repeat;
    background-position: center bottom;
    background-size: contain;
    height: 420px;
    position: relative;

  }

  .summery {
    color: var(--main-color);
    background: var(--main-color);
    width: 100%;
    height: 180px;
    color: var(--sub-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    /* margin-top: -50px; */
    border: 1px solid #000;
  }

  h2 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 100%;
  }
  .sub-summery {
    font-weight: 500;
    font-size: 12px;
    color: var(--text-color-3);
    gap: 20px;
    width: 100%;
  }
  .artist {
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }


   /* sect2-------------------------------------------------- */
    .sect2 {
    background: var(--main-color);
    position: sticky;
    top: -300px;
    z-index: 10;
    width: 100%;
    /* height: 90vh; */
    padding: 50px 30px;
  }
  .sect2 .grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
  }

  /* .item {border: 1px solid #000;} */
  .sect2>h3{margin-bottom: 20px;}
  .sect2 h3.title{font-weight: 900;}
  .sect2 .item {height: 170px; position: relative; cursor: pointer;}
  .sect2 .item::before{content: ''; position: absolute; left: 50%;top: 50%;transform: translate(-50%, -50%); width: 105%;height: 115%; background-color: rgba(0, 0, 0, 0.062); opacity: 0; transition: opacity 0.2s ease;}
  .item:hover::before{opacity: 1;}

  .item .img{
    width: 100%;
    height: 100px;
    /* border: 2px solid #ff1818; */
    overflow: hidden;}
    
  .sect2 .item1 {grid-row: 1 / span 1;}
  .sect2 .item1 img {width: 100%;}
  .item1 .img img{transform: translateY(-30%);}

  .sect2 .item2 {grid-row: 2 / span 1;}
  .sect2 .item2 img {width: 100%;}
  .item2 .img img{transform: translateY(-35%);}

  .sect2 .item3 {grid-row: 3 / span 1;}
  .sect2 .item3 img  {width: 100%;}
  .item3 .img img{transform: translateY(-15%);}

  .sect2 .item4 {grid-row: 4 / span 1;}
  .sect2 .item4 img {width: 100%;}
  .item4 .img img{transform: translateY(-45%);}

  .sect2 .item5,.sect2 .item6,.sect2 .item7,.sect2 .item8{display: none;}

  .item .art-summery{margin-top: 10px;}
  .item .art-summery h3{font-size: 20px;font-weight: 900; text-align: justify;letter-spacing: -1px;margin-bottom: 10px;}
  /* .item .art-summery .more{height: 50px; display: flex; flex-direction: column; justify-content: space-between;} */
  .condensation{display: flex; justify-content: space-between; font-weight: 600; color: var(--text-color-3);}
  p.art-subsummer, .condensation{font-size: 14px;text-align: justify;}
  p.art-subsummer{display: none;}

  .condensation>p{display: inline-block;}
  .locat{gap:8px;}
  .locat p{font-weight: 100;}
  p.date{text-align: right; font-weight: 100;}

  .btn{text-align: center;}
  button{padding: 8px 30px; margin-top: 60px; background: var(--main-color);border: 1px solid #000; border-radius: 0px;  }
  button a{font-size: 20px;display: flex; justify-content: center;}
  /* button:hover{background: var(--text-color);} */


  /* sect3 */
  .sect3 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 99;
    /* border: 1px solid #000; */
}
  .sect3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background: var(--main-color) url(../imgs/sect3/getImage.jpg) no-repeat;
    background-position: 60%;
    /* background-attachment: fixed; */
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;
  }

  .sect3-summary{height: 100%; padding-top: 20px;}
  .sect3-summary h3 {
    font-size: 20px; font-weight: 900;
    color: var(--text-color);
    margin-bottom: 20px;
  }

  ul.summary-list {
    width: 100%;
    font-size: 60px;
    /* font-weight: 100; */
    line-height: 100px;
    display: flex;
    flex-direction: column; /* 수직 방향으로 배치 */
    align-items: flex-start; /* 각 아이템을 왼쪽 정렬 */
    padding: 0;
    margin: 0;
    list-style-type: none; /* 기본 목록 점 제거 */
  }
  .summary-list li a{
    font-weight: 500;
    color: transparent; /* 글씨 색상 투명화 */
    -webkit-text-stroke: 0.8px black;
  }
  .summary-list li:hover a{color: var(--sub-color); /* 글씨 면 색상 채우기 */
    -webkit-text-stroke: 0px;}


/* .sect3-summary1 li.gray{color: #bbbbbb;;} */


  /* sect4------------------------------------------------- */
.sect4{position: sticky; background: var(--main-color); width: 100%;z-index: 150; padding: 50px 30px;}
.sect4 .box{display: grid; grid-template-rows: repeat(5,1fr); row-gap: 10px; margin-bottom: 40px;}

.sect4 .item{width: 100%; display: block;}
.sect4 .item-summary p{display: none;}
footer {display: none;}
.sect4 .sub{border: 1px solid #949494; width: 100%; height: 80px;padding: 20px;border-radius: 5px; }
.sect4 .sub h3{font-size: 20px; font-weight: 900;}
.sect4 .box .item i{ font-size: 30px; text-align: right; margin-top: 6px; transform: rotate(45deg);  transition: 0.5s; color: var(--text-color-2);}

 /* hover */
.sect4 .item:hover{outline: #000000 solid 1px; color: var(--sub-color);border-radius: 5px; }
.sect4 .item:hover i{transform: rotate(0deg); color: var(--sub-color);transform-origin: center;}


  /* timeline */
  .sect4 .timeline{background: #eef0f1; width: 100%; align-self: flex-end; text-align:center; padding: 50px 40px;}
  .sect4 .timeline h3{font-size: 32px; margin-bottom: 24px;}
  .sect4 .timeline p{line-height: 30px; width: 80%; margin: auto;}
  .sect4 .timeline p.Check a{background:var(--sub-color); color: #dfdfdf; display: inline-block; padding: 5px 30px; font-weight: 500; margin-top: 20px;}
  /* .sect4 .calender p.Check:hover a{color:var(--main-color);} */


  /* footer------------------------------------------------- */
  footer{background: var(--main-color); padding: 0 30px 50px; position: sticky; font-size: 16px; z-index: 999; display: flex;}

  footer .f-top{justify-content: space-between; }
  footer .f-top .f-logo{width: 100%; padding-bottom: 24px;}
  footer .f-top .f-logo ul li{color: var(--text-color-2); line-height: 24px;}
  footer .f-top .f-logo img{width: 60%; margin-bottom: 30px;}

  /* 애가 더 상위 아닌가? 왜 올라가면 적용이 안되는 거임? 
  아 html 순서때문인가?*/
  footer .f-top >ul li{line-height: 34px; font-weight: 900;font-size: 16px; }
  .f-menu{border-top: 1px solid var(--text-color-2);padding: 20px 0;}
  .f-information{border-top: 1px solid var(--text-color-2); padding: 20px 0;}
  footer .f-top .family{width: 100%;border-top: 1px solid var(--text-color-2); padding: 24px 0 30px;}
  footer .f-top .family p{margin-bottom: 10px; font-weight: 900;}
  footer select{width: 100%; height: 40px; padding: 10px;}
  
  /* button */
  footer .f-button{border-top: 1px solid var(--text-color-2); padding-top: 20px; display: flex; flex-direction: column-reverse;}
  footer .f-button p{width: 100%; color: var(--text-color-3); border-top: 1px solid var(--text-color-2); text-align: center; padding: 20px;}

  footer .sns{width: 80%;margin: 0 auto 20px;}   
  footer .sns ul {width: 100%; gap: 20px;}
  footer .sns ul li{flex: 1;}
  footer .sns ul li a img{width: 100%;}
  
  /* .sns{display: none;} */

} /* mobile end  */